In [2]:
import pandas as pd
import numpy as np

# DATOS DE CLIENTES

#### Carga de datos

In [3]:
clientes = pd.read_csv("raw-data/CLIENTES.csv", sep=",")
clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31248 entries, 0 to 31247
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IDCLIENTE  31248 non-null  int64
 1   SEGMENTO   31248 non-null  object
 2   EDAD       31248 non-null  object
 3   PRODUCTO   31248 non-null  object
dtypes: int64(1), object(3)
memory usage: 976.6+ KB

#### Revisar duplicidad

In [13]:
# MOSTRAR LOS REGISTROS REPETIDOS
clientes.loc[clientes.IDCLIENTE.duplicated(keep=False)]

       IDCLIENTE SEGMENTO                    EDAD  PRODUCTO
4329       15117       A2       MAYORES A 65 AÑOS  CTA & TC
4330       15117       A2       MAYORES A 65 AÑOS  CTA & TC
5193      240369       A3       MAYORES A 65 AÑOS       CTA
5194      240369       A3       MAYORES A 65 AÑOS       CTA
10226      86831       A2       MAYORES A 65 AÑOS  CTA & TC
10227      86831       A2       MAYORES A 65 AÑOS  CTA & TC
12232     180569       A3       MAYORES A 65 AÑOS       CTA
12233     180569       A3       MAYORES A 65 AÑOS       CTA
14027      77575       A3       MAYORES A 65 AÑOS       CTA
14028      77575       A3       MAYORES A 65 AÑOS       CTA
14794      93166       A3       MAYORES A 65 AÑOS       CTA
14795      93166       A3       MAYORES A 65 AÑOS       CTA
20164     254860       A2  OTROS NO IDENTIFICADOS       CTA
20165     254860       A2  OTROS NO IDENTIFICADOS       CTA

In [14]:
# BORRAR LOS DATOS DUPLICADOS
clientes.drop_duplicates(subset=["IDCLIENTE"], inplace=True)

In [15]:
# VISUALIZAR CANTIDAD DE DATOS UNICOS
clientes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31241 entries, 0 to 31247
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IDCLIENTE  31241 non-null  int64
 1   SEGMENTO   31241 non-null  object
 2   EDAD       31241 non-null  object
 3   PRODUCTO   31241 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.2+ MB

#### VISUALIZAR CANTIDAD MAXIMA DE CARACTER

In [28]:
print("Maxima longitud de caracteres en SEGMENTO =>", clientes.SEGMENTO.str.len().max() )

Maxima longitud de caracteres en SEGMENTO => 2

In [27]:
print("Maxima longitud de caracteres en EDAD =>", clientes.EDAD.str.len().max() )

Maxima longitud de caracteres en EDAD => 22

In [26]:
print("Maxima longitud de caracteres en PRODUCTO =>", clientes.PRODUCTO.str.len().max() )

Maxima longitud de caracteres en PRODUCTO => 8

In [33]:
clientes.to_csv(r"C:\Users\kevin\Documents\prubea-banco-gye\clean-data\CLIENTES.csv", sep=",", encoding="utf-8-sig", index=False)

# DATOS DE POLIZAS